{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
<form hx-post="{{ request.path }}" class="modal-content" enctype="multipart/form-data">
    
    <div class="modal-header">
      <h5 class="modal-title">Add announcement</h5>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      <!-- {{form|crispy}} -->
      <div class="row">
        <div class="col-12 py-2">
            <p class="h6">Title</p>
            {{form.title}}
        </div>
     
        <div class="col-12 py-2">
          <p class="h6">Information</p>
          {{form.body}}
      </div>

      <div class="col-12 py-2">
        <p class="h6">Select Image</p>
        {{form.image}}
        </label>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>
{% endblock content %}
