{% extends "../base.html" %}
{% load static %}
{% block content %}



<style>
    .modal-dialog {
        min-width: auto;
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;

}
</style>

<div class="container-fluid bg-white rounded">
    <div class="row p-3 g-0">

        <div class="col-lg-6 col-md-4 col-12">
            <h4 class="text-muted">Resident Record</h4>
        </div>

        <div class="col-lg-6 col-md-8 col-12">
            <div class="float-end">
                <a target="_blank" class="scan" href="{% url 'details' %}"><input type="submit" class="btn btn-outline-secondary" value="Run Scanner" /></a>
                &nbsp;
                &nbsp;
                <a type="button" class="btn bg-warning bg-gradient" href="{% url 'add_profile' %}">
                    <i class="las la-user-plus fs-4" style="vertical-align: middle;"></i>
                    <span class="mt-5" style="vertical-align: middle;">Add Resident</span>
                </a>
            </div>
        </div>

        <hr class="my-3">
        <div class="col-lg-6 col-md-6">
            <div class="py-2">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label class="col-form-label">Filter Gender</label>
                    </div>
                    <div class="col-auto">
                        <div id="gender"></div>
                    </div>
                    <div class="col-auto">
                        <label class="col-form-label">Filter Purok</label>
                      </div>
                    <div class="col-auto">
                        <div id="purok"></div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div id="test" style="float:right" ></div>
        </div>

        <div class="col-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table id="residents" class="table table-striped table-bordered align-middle mb-0 shadow-sm fade-page">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Resident ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Purok</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for resident in resident_list %}
                        <tr>
                            <td></td>
                            <td class="fs-6">{{resident.residentsinfo.res_id}}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img 
                                        src='{{resident.residentsinfo.image.url}}' 
                                        style="width: 45px; height: 45px; object-fit:cover;" 
                                        class="rounded-circle"/>
    
                                        <div class="ms-3 align-items-center">
                                            <p class="fs-6 mb-1">{{resident.residentsinfo.firstname}} {{resident.residentsinfo.middlename|make_list|first}}. {{resident.residentsinfo.lastname}} {{resident.residentsinfo.suffix}}</p>
                                        </div>
                                </div>
                            </td>
                            
                            <td class="fs-6">{{resident.residentsinfo.sex}}</td>
                            <td class="fs-6">{{resident.residentsinfo.purok}}</td>
                            <td class="fs-6">{{resident.residentsinfo.phone}}</td>
                            <td class="fs-6">{{resident.email}}</td>
                            <td class="text-center">
                                
                                <a target=”blank” href="{% url 'view_profile' resident.id %}" class="btn btn-primary bg-gradient">
                                    <i class="las la-eye fs-5" style="vertical-align: middle;"></i>
                                </a>
    
                                <a href="{% url 'edit_profile' resident.id %}" class="btn btn-success bg-gradient">
                                    <i class="las la-pen fs-5" style="vertical-align: middle;"></i>
                                </a>
    
                                <a href="{% url 'delete_profile' resident.id %}" method="post" class="btn btn-danger bg-gradient">
                                    <i class="las la-trash-alt fs-5" style="vertical-align: middle;"></i>
                                </a>
                                    
                            </td>
                        </tr>
                          {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>



<script>
    $(".scan").click(function () {
        var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
        $.ajax({
            url: "{% url 'scan' %}",
            data: {

            },
        });
    });
</script>

{% endblock content %}