<div class="table-responsive fade-load">
    <table id="building" class="table table-striped table-bordered align-middle mb-0 shadow-sm fade-page">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Requestor</th>
                <th scope="col">Proposed Construction</th>
                <th scope="col">Total Area</th>
                <th scope="col">Location</th>
                <th scope="col">Owner</th>
                <th scope="col">Status</th>
                <th scope="col " class="text-center">Action</th>
            </tr>
        </thead>
        
        <tbody>
            {% for building_permit in building_permit_list %}
            <tr>
                <td></td>
                <td>{{ building_permit.res_id }}</td>
                <td>{{ building_permit.proposed_construction }}</td>
                <td>{{ building_permit.total_area}}</td>
                <td>{{ building_permit.location}}</td>
                <td>{{ building_permit.owner}}</td>
                <td>{{ building_permit.status}}</td>
                <td class="text-center">
                    <button class="btn btn-primary bg-gradient" hx-get="{% url 'edit_building_permit' building_permit.id %}" hx-target="#dialog">
                        <i class="las la-pen fs-4" style="vertical-align: middle;"></i>
                    </button>
            
                    <a target=”_blank” type="button" class="btn btn-secondary bg-gradient" href="{% url 'generate_building_permit' building_permit.id %}">
                        <i class="las la-file-pdf fs-4" style="vertical-align: middle;"></i>
                        <span style="vertical-align: middle;">Generate</span>
                    </a>
                    
                </td>
            </tr>
            
            {% empty %}
            
            <tr align="center">
                <td colspan="8">
                    <h6 class="text-muted p-4">CURRENTLY NO DATA AVAILABLE</h6>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
  $('#building').DataTable({
    filterDropDown:({
      columns: [
        {
            idx: 6,
            title: "Select Status",
            autoSize: true
            
        }
      ],
            bootstrap: false,
            label: "Filter Status"
    })
  });
});
</script>

<style>
    .fade-load {
        animation: fadeInAnimation ease 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .building_filterSelect{
        width: auto;
        display:inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
}
</style>