<div class="table-responsive fade-load">
    <table id="clearance" class="table table-striped table-bordered align-middle mb-0 shadow-sm">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Resident</th>
                <th scope="col">Date Requested</th>
                <th scope="col">Date Released</th>
                <th scope="col">Transaction ID</th>
                <th scope="col">Status</th>
                <th scope="col " class="text-center">Action</th>
            </tr>
        </thead>
        
        <tbody>
            {% for clearance in clearance_list %}
            <tr>
                <td>#</td>
                <td>{{ clearance.res_id }}</td>
                <td>{{ clearance.date_requested }}</td>
                <td>{{ clearance.date_released}}</td>
                <td>{{ clearance.transaction_id}}</td>
                <td>{{ clearance.status}}</td>
                <td class="text-center">
                    <button class="btn btn-primary bg-gradient" hx-get="{% url 'edit_clearance' clearance.id %}" hx-target="#dialog">
                        <i class="las la-pen fs-4" style="vertical-align: middle;"></i>
                    </button>
            
                    <a target=”_blank” type="button" class="btn btn-secondary bg-gradient" href="{% url 'generate_clearance' clearance.id %}">
                        <i class="las la-file-pdf fs-4" style="vertical-align: middle;"></i>
                        <span style="vertical-align: middle;">Generate</span>
                    </a>
                    
                </td>
            </tr>
            
            {% empty %}
            
            <tr align="center">
                <td colspan="8">
                    <h6 class="text-muted p-4">CURRENTLY NO DATA AVAILABLE</h6>
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
       
    </table>
</div>

<script>
$(document).ready(function() {
  $('#clearance').DataTable({
    filterDropDown:({
      columns: [
        {
          idx: 5,
            title: "Select Status",
            autoSize: true
            
        }
      ],
      bootstrap: false,
      label: "Filter Status"
    })
  });
});
</script>

<style>
    .fade-load {
        animation: fadeInAnimation ease 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .clearance_filterSelect{
        width: auto;
        display:inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
}
</style>