{% extends "../base.html" %}
{% load static %}
{% block content %}
<style>
    .min-size{
        min-height: 500px;
    }
</style>
<div class="container-fluid bg-white rounded min-size fade-page">
    <div class="row p-3 g-0">

        <div class="col-lg-6 col-md-4 col-12">
            <h4 class="text-muted">Barangay Clearance</h4>
        </div>

        <div class="col-lg-6 col-md-8 col-12">
            <div class="float-end">
                <a type="button" class="btn bg-warning bg-gradient" href="">
                    <i class="las la-user-plus fs-4" style="vertical-align: middle;"></i>
                    <span class="mt-5" style="vertical-align: middle;">Add Clearance</span>
                </a>
                &nbsp;
                &nbsp;
                <button type="button" class="btn btn-primary bg-gradient">
                    <i class="las la-file-csv fs-4" style="vertical-align: middle;"></i>
                    <span class="mt-5" style="vertical-align: middle;">Export CSV</span>
                </button>
            </div>
        </div>

        <hr class="my-3">
        <div class="col-lg-12">
            <div class="fade-page" hx-trigger="load, clearancelistUpdate from:body" hx-get="{% url 'clearance_list' %}" hx-target="this">
                <center>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </center>
            </div>
        </div>

    </div>
</div>

<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>
{% endblock content %}