<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barangay Business Permit</title>
</head>
<style>
    p {
        margin: 0;
        padding: 0;
    }
    .p1 {
        font-family: "Times New Roman", Times, serif;
    }
    .p2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        line-height: normal;
    }

    .border_underline{
        border-bottom: 1px solid rgb(0, 0, 0); 
    }

    .border_topline{
        border-top: 1px solid rgb(0, 0, 0); 
    }
</style>

<body>
    <table width="100%" cellpadding="0" border="1" bordercolor="red">
        <tr>
            <td align="center" >
                <img src="static/img/masili_logo.png" alt="" width="80">
            </td>
    
            <td align="center">
                <div class="remove_space">
                    <p class="p1" style="font-size: 16px;"><b>Republic of the Philippines</b></p>
                    <p class="p1" style="font-size: 14px;">Province of Laguna</p>
                    <p class="p1" style="font-size: 14px;">City of Calamba</p>
                    <p class="p2" style="font-size: 14px;"><b>BARANGAY MASILI</b></p>
                    <p class="p2" style="color: red; font-size: 10px;">049-502-9459</p>
                </div>
            </td>
    
            <td align="center">
                <img src="static/img/Calamba,_Laguna_Seal.svg.png" alt="" width="80">
            </td>
        </tr>

        <tr>
            <td colspan="3" align="center">
                <br><br><br><br><br>
                <p class="p2" style="font-size: 16px;"><b><i>TANGGAPAN NG PUNONG BARANGAY</i></b></p>
                <hr width="80%" style="margin-top:0;">
                <br>
                <p class="p2" style="font-size: 16px;"><b><i>PAGPAPATUNAY</i></b></p>
                <br><br><br><br><br><br><br>
            </td>
            
        </tr>

        <tr>
            <td colspan="3" style="margin-left: 70px;">
                <p class="p2" style="font-size: 14px;"><b><i>SA MGA KINAUUKULAN:</i></b></p>
                <br><br>
            </td>
        </tr>

        <tr>
            <td colspan="3" style="margin-left: 70px; margin-right: 70px">
                <p class="p2" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ito ay pagpapatunay na si <b><i>{{ residency_certificate.res_id }}</i></b>, nasa wastong gulang, 
                ay lehitimong mamamayan ng </p>
            </td>
        </tr>
    

        <tr>
            <td VALIGN = Top colspan="3" style="margin-left: 70px; margin-right: 70px;" >
                <br><br><br><br><br><br>
                <table>
                    <tr>
                        <td>
                            
                        </td>

                        <td>
                            <p class="p2" style="font-size: 14px;"><i>Nagpapatunay:</i></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="display:block; margin-left: 400px;">
                            <img src="static/img/captain_signature.png" height="60">
                            
                        </td>

                        <td>
                            <br>
                            <br>
                            <p class="p2" style="font-size: 16px; text-decoration: underline;"><b>KGG.ELISEO G. MALIGAYA</b></p>
                            <p class="p2" style="font-size: 14px;">Barangay Chairman, Masili</p>
                        </td>
                    </tr>
                </table>  
            </td>
        </tr>
      </table>

</body>
</html>