{% for indigency in indigency_list %}
<tr>
    <td></td>
    <td>{{ indigency.res_id }}</td>
    <td>{{ indigency.date_requested }}</td>
    <td>{{ indigency.date_released}}</td>
    <td>{{ indigency.transaction_id}}</td>
    <td>{{ indigency.status}}</td>
    <td class="text-center">
        <button class="btn btn-primary bg-gradient" hx-get="{% url 'edit_indigency' indigency.id %}" hx-target="#dialog">
            <i class="las la-pen fs-4" style="vertical-align: middle;"></i>
        </button>

        <a target=”_blank” type="button" class="btn btn-secondary bg-gradient" href="{% url 'generate_indigency' indigency.id %}">
            <i class="las la-file-pdf fs-4" style="vertical-align: middle;"></i>
            <span style="vertical-align: middle;">Generate</span>
        </a>
        
    </td>
</tr>
{% endfor %}