<div class="table-responsive fade-load">

    <div class="py-2">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label class="col-form-label">Select Status</label>
            </div>
            <div class="col-auto">
                <div id="status"></div>
            </div>
          </div>
    </div>

    <table id="indigency" class="table table-striped table-bordered align-middle mb-0 shadow-sm">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Resident</th>
                <th scope="col">Date Requested</th>
                <th scope="col">Date Released</th>
                <th scope="col">Transaction ID</th>
                <th scope="col">Status</th>
                <th scope="col " class="text-center">Action</th>
            </tr>
        </thead>
        
        <tbody>
            {% for indigency in indigency_list %}
            <tr>
                <td></td>
                <td>{{ indigency.res_id }}</td>
                <td>{{ indigency.date_requested }}</td>
                <td>{{ indigency.date_released}}</td>
                <td>{{ indigency.transaction_id}}</td>
                <td>{{ indigency.status}}</td>
                <td class="text-center">
                    <button class="btn btn-primary bg-gradient" hx-get="{% url 'edit_indigency' indigency.id %}" hx-target="#dialog">
                        <i class="las la-pen fs-4" style="vertical-align: middle;"></i>
                    </button>
            
                    <a target=”_blank” type="button" class="btn btn-secondary bg-gradient" href="{% url 'generate_indigency' indigency.id %}">
                        <i class="las la-file-pdf fs-4" style="vertical-align: middle;"></i>
                        <span style="vertical-align: middle;">Generate</span>
                    </a>
                    
                </td>
            </tr>
            
            {% empty %}
            <tr align="center">
                <td colspan="7">
                    <h6 class="text-muted p-4">CURRENTLY NO DATA AVAILABLE</h6>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        var table = $('#indigency').DataTable({
        stateSave: true
        });

        yadcf.init(table, [
            {
            column_number : 5, 
            filter_default_label: "All",
            filter_container_id: "status",
            data: ["Pending", "Ready", "Released"],
            style_class: 'form-select',
            filter_reset_button_text: false
            }
        ]);
    });
</script>
    
<style>
    .fade-load {
        animation: fadeInAnimation ease 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
</style>