{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
    <title>Password Reset</title>
</head>

<style>
    #example1 {
    background:  linear-gradient(180deg, #F98724 50%, #ffffff 50% );
    background-repeat: no-repeat;

}
</style>
<body id="example1">
    <div class="container">
        <div class="row d-flex justify-content-center p-5">
            <div class="col-lg-6 col-md-10 col-12">
                <div class="card border-0 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="row">
                            <form method="POST">
                                {% csrf_token %}

                                <div class="col-12 d-flex justify-content-center">
                                    <img src="{% static 'img/reset_password.png'%}" width="350">
                                    <a style="text-decoration: none; font-size: 10px; position: absolute; bottom: 8px; right: 16px;" href="https://www.freepik.com/free-vector/forgot-password-concept-illustration_7070628.htm#query=forgot%20password&position=2&from_view=keyword">Image by storyset</a>
                                </div>

                                <div class="col-12">
                                    <p class="h4" style="color: #355389;">Forgotten your password?</p>
                                </div>

                                <div class="col-12">
                                    <p>Enter your email address below, and we’ll email instructions for setting a new one.</p>
                                </div>

                                <div class="col-12">
                                    <p class="h6">Email</p>
                                    {{form}}
                                </div>

                                <div class="col-12 py-3">
                                    <input type="Submit" name="Send email" class="btn-theme -btn1 col-12" value="SUBMIT">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
