{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}">
    <title>Admin Login</title>
</head>

<body class="bg-white">

    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
    
                <div class="col-sm-6 col-md-6 col-lg-7 px-0 d-none d-sm-block d-m-block">

                    <div class="row background-image" 
                        style="background-image:url('/static/img/bg_admin_login@2x.jpg'); background-repeat: no-repeat !important; background-size: cover !important; background-position: center; height: 100vh;">

                        <div class="col-12 ps-5 pt-3">
                                <img src="{% static 'img/masili-logo.svg' %}" class="pe-4" style="width: 100px;">
                                <img src="{% static 'img/Calamba,_Laguna_Seal.svg.png' %}" class="pe-4" style="width: 100px;">
                                <div><p class="display-6 pt-5" style="font-weight: 400;">WELCOME TO</p></div>
                                <div><h1 class="display-2" style="font-weight: 700; color: #355389; margin-top: -20px;">DOCUMENT <br>REQUISITION SYSTEM</h1></div>
                                <p class="lead" style="font-weight: 500; color: #355389;">SANGGUNIANG BARANGAY NG MASILI</p>
                        </div>

                        <div class="col-lg-12 fixed-bottom">
                            <a class="" href="https://www.freepik.com/free-vector/early-morning-scenery-seascape-lonely-wooden-boat_17676504.htm#query=sunset%20lake%20vector&position=0&from_view=search">Image by upklyak</a> on Freepik
                        </div>

                    </div>
                </div>
    
                <div class="col-sm-6 col-md-6 col-lg-5 align-self-center p-5">
                    <div class="row">
                        
                        <p class="fs-4"><b>ADMIN LOGIN</b></p>
                        
                        <div class="col-lg-8">
                            <form class="needs-validation"  method="POST">
                                {% csrf_token %}
                                <br>
                                <div class="form-outline">
                                    <label class="form-label">Username</label>
                                    <input type="name" class="form-control" name="username" placeholder="Enter username" required>
                                    
                                </div>
                                <br>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                                    
                                </div>
                               
                                <br>
                                {% for message in messages %}
                                <p style="color: red">{{ message }}</p>
                                {% endfor %}
                                <br>
                                {% csrf_token %}
                                <input type="submit" name="btnLogin" class="btn-theme -btn2 col-12 col-md-5" value="Log In">
                                <br>
                                <br>
                            </form>
                            
                        </div>
                        <p class="h6">Forgot Password? <a href="create_account" class="text-decoration-none">Create an account</a></p>
    
                    </div>
                </div>
                
            </div>
        </div>
    </section>


    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}" ></script>
</body>
</html>