{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
    <title>Password Reset</title>
</head>

<style>
    #example1 {
    background:  linear-gradient(180deg, #F98724 50%, #ffffff 50% );
    background-repeat: no-repeat;

}
</style>
<body id="example1">
    <div class="container">
        <div class="row d-flex justify-content-center vertical-center">
            <div class="col-lg-6 col-md-10 col-12">
                <div class="card border-0 shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="row">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="col-12">
                                    <p class="h4" style="color: #355389;">Password Change Done</p>
                                </div>

                                <div class="col-12">
                                    <p><p>Your password has been changed</p></p>
                                </div>

                                <div class="col-12 py-3">
                                    <a class="btn-theme -btn1 col-12" href="{% url 'adminProfile' %}">Done</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}