{% extends "UsersideTemplate/base.html" %}
{% load static %}
{% block content %}
<div class="video-wrapper" style="height: 300px;">

    <img class="imageheader" src="{% static 'img/slider-4-slide-1-1920x678.jpg'%}" alt="">
  
    <div class="header">
      <h1 class="display-1"><b>ABOUT BARANGAY MASILI</b></h1>
    </div>
</div>

<br>
<br>
<br>


<div class="container pt-5">
    <div class="col-12">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7 col-md-7">
                {% for announce in announcementList %}
                <div class="card mb-3 border-0 shadow">
                    <div>
                        <div class="row g-0">
                            <div class="col-lg-5 col-md-12 col-12 my-auto d-flex justify-content-cente">
                              <img src='{{announce.image.url}}' class="img-fluid rounded-start">
                            </div>
                            <div class="col-lg-7 col-md-12 col-12">
                              <div class="card-body">
                                <h5 class="card-title">{{ announce.title }}</h5>
                                <p class="card-text">{{ announce.body }}</p>
                              </div>
                    
                              <br>
                              <div class="position-absolute bottom-0 end-0 px-3">
                                <p class="card-text"><small class="text-muted">Posted at {{ announce.post_date }}</small></p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                  <center>
                    <img src="/media/empty.jpg" width="600" height="350">
                  </center>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>


{% endblock content %}