{% extends "UsersideTemplate/ServicePortalBase.html" %}
{% load static %}
{% block content %}

<div class="container bg-white rounded shadow p-5">
<form action="." method="POST">
{% csrf_token %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center" style="color: #355389;">
            <h3>BARANGAY BUILDING PERMIT</h3>
        </div>
        <div class="col-12 d-flex justify-content-center pb-4">
            <p>Fill-up the form and submit</p>
        </div>
        
        <div class="col-lg-6 py-3">
            <p class="h6">PROPOSED CONSTRUCTION OF:</p>
            {{form.proposed_construction}}
        </div>

        <div class="col-lg-6 py-3">
            <p class="h6">WITH TOTAL AREA OF:</p>
            {{form.total_area}}
        </div>

        <div class="col-lg-6 py-3">
            <p class="h6">ESTIMATED COST:</p>
            {{form.estimated_cost}}
        </div>

        <div class="col-lg-6 py-3">
            <p class="h6">LOCATED AT:</p>
            {{form.location}}
        </div>

        <div class="col-lg-6 py-3">
            <p class="h6">NAME OF OWNER:</p>
            {{form.owner}}
        </div>

        <div class="col-lg-6 py-3">
            <p class="h6">NAME OF CONTRACTOR:</p>
            {{form.contractor}}
        </div>

        <div class="col-12 pt-5 d-flex justify-content-end">
            <a href="{% url 'service_portal'%}" class="btn-theme -btn1 col-12 col-md-3 text-center">Cancel</a>
            &nbsp;&nbsp;
            <input type="submit" name="btnLogin" class="btn-theme col-12 col-md-3 -btn2" value="Submit">
        </div>

    </div>
</form>
</div>
<br>
<br>
<br>
{% endblock content %}