{% extends "UsersideTemplate/ServicePortalBase.html" %}
{% load static %}
{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 my-auto">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="lead"><b>Change and add new email address and submit here</b></h1>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label><b>Email: </b></label>
                                    {{ form.email }}
                                </div>
                                <br>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <a href="{% url 'profile'%}" type="button" class="btn-theme -btn1 col-6 col-md-3 text-center">Cancel</a>
                                &nbsp;&nbsp;
                                <button type="submit" class="btn-theme -btn2 col-6 col-md-5 px-2">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

