{% extends "UsersideTemplate/base.html" %}
{% load static %}
{% block content %}

<section>
<div class="container vertical-center">
    <div class="row">

        <div class="col-lg-6">
            <div class="px-5">
                <p class="h1">Contact Us</p>
            </div>
            <div class="d-flex align-items-center">
                <img src="{% static 'img/telephone.png' %}" width="40px" />

                    <div class="ms-3 align-items-center">
                        <p class="h4 px-3">(049) 502-9459</p>
                    </div>
            </div>

            <div class="d-flex align-items-center">
                <img src="{% static 'img/telephone.png' %}" width="40px" />

                    <div class="ms-3 align-items-center">
                        <p class="h4 px-3">(049) 502-9459</p>
                    </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'img/contact-img-main.png' %}">
            <a style="text-decoration: none;" class="float-end" href="https://www.freepik.com/free-vector/contact-us-concept-illustration_8690678.htm#page=2&query=contact%20us&position=2&from_view=search">Image by storyset</a>
        </div>
    </div>
</div>
</section>




{% endblock content %}