{% extends "UsersideTemplate/base.html" %}
{% load static %}
{% block content %}

<section>
<div class="container py-5">
    <div class="row py-5">

        <div class="col-lg-7 my-auto d-flex justify-content-center">
                <table>
                    <tr>
                        <td colspan="2">
                            <p class="h1 txt-color-theme-1">Contact Us</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <br>
                            <img src="{% static 'img/telephone.png' %}" width="40px" />
                        </td>

                        <td>
                            <br>
                            <p class="h4 txt-color-theme-1">(049) 502-9459</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <br><br>
                            <img src="{% static 'img/email.png' %}" width="100px" />
                        </td>

                        <td>
                            <br><br>
                            <p class="h4 txt-color-theme-1">Barangaymasili.calamba@gmail.com</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <br><br>
                            <img src="{% static 'img/flag.png' %}" width="40px" />
                        </td>

                        <td>
                            <br><br>
                            <p class="h4 txt-color-theme-1">Bgy.Masili Street, Purok 5, Calamba City, Laguna</p>
                        </td>
                    </tr>
                </table>
        </div>

        <div class="col-lg-5">
            <img class="img-fluid" src="{% static 'img/contact-img-main.png' %}">
            <a style="text-decoration: none;" class="float-end" href="https://www.freepik.com/free-vector/contact-us-concept-illustration_8690678.htm#page=2&query=contact%20us&position=2&from_view=search">Image by storyset</a>
        </div>

        <div class="col-lg-4">
            <img class="img-fluid" src="{% static 'img/customer-support.png' %}">
            <a style="text-decoration: none;" href="https://www.freepik.com/free-vector/customer-support-representatives-working-call-center_9174514.htm#page=2&query=contact%20us&position=33&from_view=search">Image by pch.vector</a>
        </div>
    </div>
</div>
</section>

<section>
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <p class="h-5">Icons References</p>
                <a href="https://www.freepik.com/free-vector/illustration-telephone_2606088.htm#query=telephone%20icon&position=23&from_view=search">Image by rawpixel.com</a> on Freepik<br>
                <a href="https://www.freepik.com/free-vector/character-couple-holding-new-message-illustration_2921440.htm#page=2&query=email%20icon&position=23&from_view=search">Image by rawpixel.com</a> on Freepik<br>
                <a href="https://www.freepik.com/free-vector/illustration-flag-icon_2606892.htm#page=2&query=location%20icon&position=8&from_view=search">Image by rawpixel.com</a> on Freepik<br>
            </div>
        </div>
    </div>
</section>




{% endblock content %}