{% extends "UsersideTemplate/ServicePortalBase.html" %}
{% load static %}
{% block content %}

<div class="container bg-white rounded shadow p-5">
<form action="." method="POST">
{% csrf_token %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center" style="color: #355389;">
            <h3>CERTIFICATE OF INDIGENCY</h3>
        </div>
        <div class="col-12 d-flex justify-content-center pb-4">
            <p>Fill-up the form and submit</p>
        </div>

        <div class="col-lg-12 col-md-8 col-12">
            <div><h5>Bearer: {{userinfo.residentsinfo.firstname}} {{userinfo.residentsinfo.middlename|slice:"0:1"}}. {{userinfo.residentsinfo.lastname}}</h5></div>
            <div><h5>From: {{userinfo.residentsinfo.purok}}</h5></div>
        </div>

        <hr>

            <div class="col-12 col-lg-2 pb-3">
                <p class="h6">Enter your age</p>
                {{form.age}}
            </div>

            <div class="col-12 col-lg-10">
                <p class="h6">Application For</p>
                {{form.purpose}}
            </div>

            <div class="col-12 pt-5">
                <input type="submit" class="btn-theme -btn2 float-end" value="Submit">
            </div>
    </div>
</form>
</div>
<br>
<br>
<br>
{% endblock content %}