{% extends "UsersideTemplate/ServicePortalBase.html" %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-6 col-md-12 mx-auto py-4">
            <div class="card">
                <div class="card-header">
                    <h1>Data Privacy</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th><h5>Your data privacy rights are protected by the Philippine Data Privacy Act of 2012.</h5><br>
                                    • The right to be informed. <h6>If your personal data will be handled or already has been, you must be informed.</h6>
                                    • The right to access. <h6>You have the right to reasonable access, upon written request, to the nature and circumstances of the processing of your personal data.</h6>
                                    • The right to rectify. <h6>You have the right to request urgent rectification of any mistakes in your personal data if necessary.</h6>
                                    • The right to erasure or blocking. <h6>Based on reasonable basis, you have the power to prevent, remove, or request the disposal of your personal data.</h6>
                                    • The right to file a complaint. <h6>You have the right to file a complaint if you believe that your personal information has been unlawfully used, maliciously disclosed, inappropriately disposed of, or that any of your data privacy rights have been infringed.</h6>
                                    • The right to damages. <h6>If your rights and freedoms as a data subject have been violated by the use of personal data that was inaccurate, incomplete, out-of-date, false, illegally obtained, or unauthorized, you may be entitled to compensation.</h6>
                                    • The right to data portability. <h6>This right guarantees that YOU have complete control over YOUR data. Data portability enables you to securely retrieve, move, copy, or transfer your data electronically for later use.</h6>
                                    <br>
                                    <h5>We are collecting your data when you:<br></h5>
                                    <h6>• Register</h6>
                                    <h6>• Request a document</h6>
                                    <br>
                                    <h5>The following is a sample of the personal information we may gather from you:<br></h5>
                                    <h6>• Name, age, sex, civil status, date and place of birth, nationality and/or citizenship, address, and contact details</h6>
                                    <h6>• Other information that you have directly provided us</h6>
                                </th>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}