{% extends "UsersideTemplate/ServicePortalBase.html" %}
{% load static %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto py-4">
            <div class="card">
                <div class="card-header">
                    <h1>My Details</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Resident ID</th>
                                <td>{{user.residentsinfo.res_id}}</td>
                            </tr>
                            <tr>
                                <th>Fullname</th>
                                <td>{{userinfo.residentsinfo.firstname}} {{userinfo.residentsinfo.lastname}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{userinfo.email}}</td>
                            </tr>
                            <tr>
                                <th>Last Login</th>
                                <td>{{user.last_login}}</td>
                            </tr>
                            <tr>
                                <th>Join Date</th>
                                <td>{{user.date_joined}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{% url 'password_change' %}" class="btn-theme -btn2 col-12 col-md-5">Change Password</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}