{% extends "UsersideTemplate/ServicePortalBase.html" %}
{% load static %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 mx-auto py-4">
            {% for message in messages %}  
            <p id="msg" style="color: green">{{ message }}</p>
            {% endfor %}
            <div class="card">
                <div class="card-header">
                    <h1>My Details</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Resident ID</th>
                                <td>{{user.residentsinfo.res_id}}</td>
                            </tr>
                            <tr>
                                <th>Fullname</th>
                                <td>{{userinfo.residentsinfo.firstname}} {{userinfo.residentsinfo.lastname}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{userinfo.email}}</td>
                            </tr>
                            <tr>
                                <th>Join Date</th>
                                <td>{{user.date_joined}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{% url 'password_change' %}" class="btn-theme -btn2 col-12 col-md-5">Change Password</a>
                    <a href="{% url 'changeUsername'%}" class="btn-theme -btn2 col-12 col-md-5">Change Username</a>
                    <br>
                    <br>
                    <a href="{% url 'changeEmail' %}" class="btn-theme -btn2 col-12 col-md-5">Change Email</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        if ($('#msg').length > 0){
            $('#msg').remove();
        }
    }, 2000)
</script>

{% endblock content %}