{% extends "UsersideTemplate/ServicePortalBase.html" %}
{% load static %}
{% block content %}

<div class="container bg-white rounded shadow">
    <div class="row">
        <div class="col-12 d-flex justify-content-center pt-5" style="color: #355389;">
            <h3>REQUEST A DOCUMENT</h3>
        </div>
        <div class="col-12 d-flex justify-content-center pb-4">
            <p>Available barangay document for requisition</p>
        </div>

        <div class="col-lg-4 col-md-6 col-12 py-3">
            <div class="card p-3 w-100 h-100 shadow-sm">
                <center>
                <img class="card-img-top" src="{% static 'img/icon_bclerance.png' %}" style="width: 100px; height: 100px;">
                    <div class="card-body">
                        <h5 class="card-title">Barangay Clearance</h5>
                        <p class="card-text pb-4">Proceed to fill up the form and have a request for barangay clearance</p>
                        <a type="button" class="btn btn-warning" href="{% url 'barangay_clearance' %}">Proceed</a>
                    </div>
                </center>  
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 py-3 ">
            <div class="card p-3 w-100 h-100 shadow-sm">
                <center>
                <img class="card-img-top" src="{% static 'img/icon_cindigency.png' %}" style="width: 100px; height: 100px;">
                    <div class="card-body">
                        <h5 class="card-title">Certificate Of Indigency</h5>
                        <p class="card-text pb-4">Proceed to fill up the form and have a request for Certificate Of Indigency</p>
                        <button type="button" class="btn btn-warning">Proceed</button>
                    </div>
                </center>  
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 py-3">
            <div class="card p-3 w-100 h-100 shadow-sm">
                <center>
                <img class="card-img-top" src="{% static 'img/icon_businesspermit.png' %}" style="width: 100px; height: 100px;">
                    <div class="card-body">
                        <h5 class="card-title">Barangay Business Permit</h5>
                        <p class="card-text pb-4">Proceed to fill up the form and have a request for Barangay Business Permit</p>
                        <button type="button" class="btn btn-warning">Proceed</button>
                    </div>
                </center>  
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 py-3">
            <div class="card p-3 w-100 h-100 shadow-sm">
                <center>
                <img class="card-img-top" src="{% static 'img/icon_cindigency.png' %}" style="width: 100px; height: 100px;">
                    <div class="card-body">
                        <h5 class="card-title">Building Permit</h5>
                        <p class="card-text pb-4">Proceed to fill up the form and have a request for Building Permit</p>
                        <button type="button" class="btn btn-warning">Proceed</button>
                    </div>
                </center>  
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 py-3">
            <div class="card p-3 w-100 h-100 shadow-sm">
                <center>
                <img class="card-img-top" src="{% static 'img/icon_rescert.png' %}" style="width: 100px; height: 100px;">
                    <div class="card-body">
                        <h5 class="card-title">Resident Certificate</h5>
                        <p class="card-text pb-4">Proceed to fill up the form and have a request for Resident Certificat</p>
                        <button type="button" class="btn btn-warning">Proceed</button>
                    </div>
                </center>  
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
{% endblock content %}